/**********************************************************************************************************
***********************************************************************************************************
*****************************************RESPONSIVE 800PX ************************************************
***********************************************************************************************************
**********************************************************************************************************/

@media only screen and (max-width:800px) {

    header span{
        color: var(--white-color);
        font-size: 1em;
    }

    header a, footer a{
        color: var(--white-color);
        font-size: 1em;
    }

    .confirmation img{
        width: 60%;
    }

    .ajouter-experience h2, .formulaire h2, .login h2{
        font-size: 1.5em;
        line-height: 1.5em;
    }

    h2 span{
        font-size: 1.5em;
    }
    
    .ajouter-experience p, table, .login p{
        font-size: 1em;
        line-height: 1.8em;
    }

    footer span{
        font-family: "Montserrat", sans-serif;
        font-size: 2em;
        color:var(--white-color);
        font-weight: bold;
    }
    
    footer p{
        color:var(--white-color);
        text-align: center;
        font-size: 1em;
        line-height: 2em;
        font-family: "Lato", sans-serif;
    }

    section.formulaire .deux-colonnes{
        grid-template-columns: 1fr;
    }

    section.formulaire div.gauche{
        grid-column: 1;
    }
    
    section.formulaire div.droite{
        grid-column: 1;
    }

    section.formulaire div.centre input{
        width: 80%;
        min-width: 100px;
    }
    
    .afficherRecap table{
        width: 95%;
    }
    
    .afficherRecap th{
        font-size: 1.5em;
    }
    
    .afficherRecap th, .afficherRecap td{
        line-height: 3em;
        font-size: 0.9em;
    }


    /**********************************************************
    ***********************************************************
    *********************** LOGIN ****************************
    ***********************************************************
    **********************************************************/

    section.login input{
        height: 50px;
        width: 200px;
        font-size: 1em;   
    }

    button{
        color: var(--white-color);
        font-size: 1em;
        padding: 20px;
        width: 60%;
        text-align: center;
    }

    /**********************************************************
    ***********************************************************
    *********************** DASHBOARD *************************
    ***********************************************************
    **********************************************************/

    section.root > *{
        margin-bottom: 50px;
    }

    section.resultats{
        grid-template-columns: 1fr;
    }

    section.ai{
        width: 90%;
    }

    section.resultats h2{
        grid-column: 1;
        font-size: 1.2em;
        line-height: 1.5em;
    }

    div.droite{
        grid-column: 1;
    }

    section.resultats div.deux-colonnes{
        grid-column: 1;
    }

    section.resultats form{
        width: 100%;
        margin: auto;
    }

    .resume{
        grid-template-columns: 1fr;
    }

    div.deux-colonnes{
        margin-bottom: 10px;
    }

    section.resultats{
        row-gap: 20px;
    }

    .fond-progression{
        width: 100%;
    }

    table{
        width: 100%;
    }

    tbody tr{
        grid-template-columns: 1fr;
        height: 100%;
    }

    td{
        min-height: 0px;
    }
    tr::after{
        margin-bottom: 0;
    }


    .container-tri fieldset.affichageVariables{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
    
        p{
            grid-column: 1;
            font-size: 1.3em;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    
        div{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    
        fieldset.tri{
            grid-column: 1;
    
            label{
                font-size: 1.1em;
            }
        }
    }

}